<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir archivo de audio a Cloudinary</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
        body {
            background-color: #121212;
            color: #FFFFFF;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }

        h2 {
            color: #1DB954;
            margin-bottom: 20px;
        }

        form {
            background-color: #222326;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            text-align: left;
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #FFFFFF;
        }

        input[type="file"],
        input[type="text"] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 15px;
            background-color: #535353;
            border: none;
            color: #FFFFFF;
            border-radius: 5px;
        }

        input[type="file"] {
            cursor: pointer;
        }

        button {
            background-color: #1DB954;
            color: #FFFFFF;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin: 25px;
        }

        button:hover {
            background-color: #1ED760;
        }

        #status {
            margin-top: 20px;
            color: #FFFFFF;
        }

        #userAudio {
            margin-top: 20px;
        }
        select {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 15px;
            background-color: #535353;
            border: none;
            color: #FFFFFF;
            border-radius: 5px;
        }
    </style>
</head>
<body>

<h2>Subir archivo de audio a Cloudinary</h2>

<!--<form enctype="multipart/form-data" id="uploadForm">
    <label for="file">Seleccionar archivo de audio (MP3):</label><br>
    <input type="file" id="file" name="file"><br><br>
    <label for="expected_text">Dime qué quieres decir:</label>
    <input type="text" id="expected_text" name="expected_text"><br><br>
    <label for="language">En qué idioma:</label>
    <select id="language" name="language">
        <option value="en">Inglés</option>
        <option value="es">Español</option>
    </select><br><br>
    <button type="button" onclick="uploadAudio()">Subir archivo</button>
</form> -->

<form enctype="multipart/form-data" id="uploadForm">
    <label for="expected_text">Dime qué quieres decir:</label>
    <input type="text" id="expected_text" name="expected_text"><br><br>
    <label for="language">En qué idioma:</label>
    <select id="language" name="language">
        <option value="en">Inglés</option>
        <option value="es">Español</option>
    </select><br><br>
    <button type="button" id="startRecordButton" onclick="startRecording()">Iniciar grabación</button>
    <button type="button" id="stopRecordButton" onclick="stopRecording()" style="display: none;">Detener grabación</button>
    <button type="button" onclick="uploadAudio()">Subir archivo</button>
</form>


<div id="status"></div>
<audio id="userAudio" controls style="display: none;"></audio>


<script is:inline>
    let mediaRecorder;
    let recordedChunks = [];

    function startRecording() {
        navigator.mediaDevices.getUserMedia({ audio: true })
            .then(function(stream) {
                mediaRecorder = new MediaRecorder(stream);
                mediaRecorder.ondataavailable = function(e) {
                    recordedChunks.push(e.data);
                };
                mediaRecorder.onstop = function() {
                    const blob = new Blob(recordedChunks, { type: 'audio/webm' });
                    const audioURL = URL.createObjectURL(blob);
                    const userAudio = document.getElementById('userAudio');
                    userAudio.src = audioURL;
                    userAudio.style.display = 'block';
                };

                mediaRecorder.start();
                document.getElementById('startRecordButton').style.display = 'none';
                document.getElementById('stopRecordButton').style.display = 'block';
                console.log('Recording started');
            })
            .catch(function(err) {
                console.error('Error accessing microphone:', err);
            });
    }

    function stopRecording() {
        if (mediaRecorder && mediaRecorder.state !== 'inactive') {
            mediaRecorder.stop();
            document.getElementById('startRecordButton').style.display = 'block';
            document.getElementById('stopRecordButton').style.display = 'none';
            console.log('Recording stopped');
        }
    }

    function uploadAudio() {
        const expectedTextInput = document.getElementById('expected_text');
        const languageInput = document.getElementById('language');
        const recordedBlob = new Blob(recordedChunks, { type: 'audio/webm' });
        const formData = new FormData();
        formData.append('file', recordedBlob);
        formData.append('expected_text', expectedTextInput.value);
        formData.append('language', languageInput.value);

        axios.post('http://localhost:4000/api/phonemix', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                console.log('Archivo subido:', response.data);

                const divStatus = document.getElementById('status');
                divStatus.innerHTML = 'Archivo subido correctamente';

                const audio = document.createElement('audio');
                audio.src = response.data.audioExpected;
                audio.controls = true;

                // Mostrar el elemento <audio> con el archivo del usuario
                const userAudio = document.getElementById('userAudio');
                userAudio.src = URL.createObjectURL(recordedBlob); // Crear URL del archivo grabado
                userAudio.style.display = 'block'; // Mostrar el elemento <audio>

                // Crear elementos <p> para mostrar los datos
                const textExpected = document.createElement('p');
                textExpected.textContent = `Texto esperado: ${response.data.textExpected}`;

                const textUser = document.createElement('p');
                textUser.textContent = `Texto del usuario: ${response.data.textUser}`;

                const userPhonemes = document.createElement('p');
                userPhonemes.textContent = `Fonemas del usuario: ${response.data.userPhonemes}`;

                const expectedPhonemes = document.createElement('p');
                expectedPhonemes.textContent = `Fonemas esperados: ${response.data.expectedPhonemes}`;

                // Agregar elementos al DOM
                divStatus.appendChild(textExpected);
                divStatus.appendChild(textUser);
                divStatus.appendChild(userPhonemes);
                divStatus.appendChild(expectedPhonemes);
                divStatus.appendChild(audio);
                divStatus.appendChild(userAudio);

            })
            .catch(error => {
                console.error('Error al subir el archivo:', error);
                document.getElementById('status').innerHTML = 'Error al subir el archivo';
            });
    }
</script>

<!--<script is:inline>

    function uploadAudio() {
        const fileInput = document.getElementById('file');
        const expectedTextInput = document.getElementById('expected_text');
        const languageInput = document.getElementById('language');
        const file = fileInput.files[0];

        if (!file) {
            alert('Por favor selecciona un archivo de audio (MP3).');
            return;
        }

        const formData = new FormData();
        formData.append('file', file);
        formData.append('expected_text', expectedTextInput.value);
        formData.append('language', languageInput.value);

        axios.post('http://localhost:4000/api/phonemix', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        })
            .then(response => {
                console.log('Archivo subido:', response.data);

                const divStatus = document.getElementById('status')
                divStatus.innerHTML = 'Archivo subido correctamente ';

                const audio = document.createElement('audio');
                audio.src = response.data.audioExpected;
                audio.controls = true;

                // Mostrar el elemento <audio> con el archivo del usuario
                const userAudio = document.getElementById('userAudio');
                userAudio.src = URL.createObjectURL(file); // Crear URL del archivo local
                userAudio.style.display = 'block'; // Mostrar el elemento <audio>

                // Crear elementos <p> para mostrar los datos
                const textExpected = document.createElement('p');
                textExpected.textContent = `Texto esperado: ${response.data.textExpected}`;

                const textUser = document.createElement('p');
                textUser.textContent = `Texto del usuario: ${response.data.textUser}`;

                const userPhonemes = document.createElement('p');
                userPhonemes.textContent = `Fonemas del usuario: ${response.data.userPhonemes}`;

                const expectedPhonemes = document.createElement('p');
                expectedPhonemes.textContent = `Fonemas esperados: ${response.data.expectedPhonemes}`;

                // Agregar elementos al DOM
                divStatus.appendChild(textExpected);
                divStatus.appendChild(textUser);
                divStatus.appendChild(userPhonemes);
                divStatus.appendChild(expectedPhonemes);
                divStatus.appendChild(audio);
                divStatus.appendChild(userAudio)

            })
            .catch(error => {
                console.error('Error al subir el archivo:', error);
                document.getElementById('status').innerHTML = 'Error al subir el archivo';
            });
    }
</script> -->

</body>
</html>
